<template name="layout">
  {{#ionBody}}
    {{> ionNavBar}}

    <!-- {{#contentFor "headerButtonLeft"}}
      <button type="button" class="button button-clear side-menu-toggle">
        Menu
      </button>
    {{/contentFor}} -->

    {{#ionSideMenuContainer side="left"}}
      {{#ionSideMenus}}
        {{#ionSideMenu}}
          {{#ionList class="has-header"}}

            {{#ionItem href="/"}}
              Home
            {{/ionItem}}

            {{#ionItem class="item-divider"}}
              Produtos
            {{/ionItem}}

            {{#ionItem href="/"}}
              Pesquisar
            {{/ionItem}}

            {{#ionItem href="/product/add"}}
              Novo
            {{/ionItem}}

            {{#ionItem class="item-divider"}}
              Listas
            {{/ionItem}}

            {{#ionItem href="/list/add"}}
              Nova
            {{/ionItem}}

            {{#ionItem href="/lists"}}
              Ver todas
            {{/ionItem}}

          {{/ionList}}
        {{/ionSideMenu}}
      {{/ionSideMenus}}
      {{#ionSideMenuContent}}
        {{> yield}}
      {{/ionSideMenuContent}}
    {{/ionSideMenuContainer}}
  {{/ionBody}}
</template>
