<template name="ProductSearch">
  <h2>Pesquisar produto</h2>
  {{> esInput index="products" placeholder="Nome..."}}

  <ul class="collection">
    {{#esEach index="products"}}
      <li class="collection-item product-listed">{{name}}. 
        <ul class="collection">
          {{#each prices}}
            <li class="collection-item">{{market}} 
              <span class="badge">
                R$ {{price}}
              </span>
            </li>
          {{/each}}
        </ul>
      </li>
    {{/esEach}}
  </ul>
</template>
