<template name="ProductSearch">
{{#contentFor "headerButtonRight"}}
  <button type="button" class="button button-clear">
    Novo
  </button>
{{/contentFor}}

{{#contentFor "headerTitle"}}
  <h1 class="title">Pesquisar produto</h1>
{{/contentFor}}

{{#ionView}}
  {{#ionContent}}
    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        {{> esInput index="products" placeholder="Produto..."}}
      </label>
    </div>

    {{#ionList}}
      {{#esEach index="products"}}
        {{#ionItem}}
          {{name}}.

          {{#ionList}}
            {{#each prices}}
              {{#ionItem}}
                {{market}}
                <span class="badge">
                  R$ {{price}}
                </span>
              {{/ionItem}}
            {{/each}}
          {{/ionList}}
        {{/ionItem}}
      {{/esEach}}
    {{/ionList}}
  {{/ionContent}}
{{/ionView}}
</template>
